body {
  margin: 0;
  padding: 0;
  height: 100vh; /* full viewport height */
  min-height: 100vh;
  background-color: #fef3f9;
  background-image: url(Assets/shop-bkgd.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

img {
  max-width: 350px;
  height: auto;
}

.hidden {
  display: none;
}

[data-shopify-buy-button-id] {
  cursor: pointer;
}

.shipping {
  color: #9b6d7d;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: italic;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}

#fish-button :hover {
  animation: heartbeat 1.5s infinite;
}

#fish-button,
#top-label,
#bottom-label {
  position: static; /* allow flexbox to handle positioning */
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
}

#bottom-label,
#top-label {
  padding: -35px;
  margin: -35px;
  height: 20px;
  position: fixed;
}

.top-bottom-label {
  position: fixed;
  bottom: 20px;
  left: 20px; /* changed from left: 50% */
  transform: none; /* remove horizontal centering */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

#top-label:hover {
  filter: hue-rotate(180deg);
}

#bottom-label:hover {
  filter: hue-rotate(180deg);
}
.site-header {
  background-color: #fbabb6; /* light pink */
  align-items: center;
  padding: 10px;
}

#button-logo {
  background: none;
  border: none;
  cursor: pointer;
}

#button-logo:hover {
  filter: drop-shadow(8px 8px 50px #a8faf9);
  transform: scale(1.1);
  transition: 0.3s ease;
}

#collection-component-1748233010112 {
  height: 135vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bikini-top-1,
#bikini-top-2,
#bikini-top-3,
#bikini-top-4 {
  cursor: pointer;
  background: none;
  border: none;
}

.site-header {
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

#large-view {
  right: 50px;
  padding-bottom: 200px;
  margin: -40px;
  height: 107px;
  position: fixed;
  cursor: pointer;
}
